<beans xmlns="http://www.springframework.org/schema/beans" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	
	
	xmlns:c="http://www.springframework.org/schema/c"
	
	xsi:schemaLocation="http://www.springframework.org/schema/beans 
	http://www.springframework.org/schema/beans/spring-beans.xsd">
	
	   <!--  bean definitions here  -->
	   
		 <!--
		<bean class="in.vj.beans.Student" id="stdId">
			<constructor-arg value="Vishal" />
			<constructor-arg value="654" />
			<constructor-arg value="96.8" />
			
		</bean>
		-->
		
		<bean class = "in.vj.beans.Student" id = "stdId"
		
		 c:name = "Vishal"
		 c:roll = "654"
		 c:marks = "96.8" />
		 
		 
		
</beans>